* {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

header {
    padding: 25px;
    background-color: #E6E6FA;
}

.sidenav {
    background-color: #F0F8FF;
}

ul {
  list-style-type: none;
}

.filter {
    width: 100%;
}

.rest-list:hover {
    cursor: pointer;
}

div#map {
    height: 500px;
}
